.MuiAppBar-root {
  background-color: transparent !important;
  box-shadow: none !important;
}

.MuiContainer-root {
  padding: 5.625rem !important;
  padding-right: 1.5rem !important;
  padding-left: 1.5rem !important;
  margin-right: auto !important;
  margin-left: auto !important;
  width: 100% !important;
  position: relative;
}

@media (min-width: 576px) {
  .MuiContainer-root {
    max-width: 540px !important;
  }
}

@media (min-width: 768px) {
  .MuiContainer-root {
    max-width: 720px !important;
  }
}

@media (min-width: 992px) {
  .MuiContainer-root {
    max-width: 960px !important;
  }
}

@media (min-width: 1200px) {
  .MuiContainer-root {
    max-width: 1140px !important;
  }
}

@media (min-width: 1400px) {
  .MuiContainer-root {
    max-width: 1320px !important;
  }
}

/* .MuiInputBase-root {
  line-height: 1.4375em !important;
}

.MuiInputBase-input {
  height: 1.4375em !important;
} */