.MuiAppBar-root {
  background-color: transparent !important;
  box-shadow: none !important;
  color: black !important;
}

.MuiContainer-root {
  padding: 3rem !important;
  padding-right: 1.5rem !important;
  padding-left: 1.5rem !important;
  margin-right: auto !important;
  margin-left: auto !important;
  width: 100% !important;
  position: relative;
}

.MuiPaper-root {
  box-shadow: revert !important;
}

.MuiTab-root {
  width: 100% !important;
  max-width: 25% !important;
  font-size: 0.9rem !important;
}

.Mui-selected {
  color: #ffc576 !important;
  font-weight: bold !important;
}

.MuiTabs-indicator {
  background-color: #ffc576 !important;
}

.MuiTabs-flexContainer {
  border-bottom: 2px solid rgba(0, 0, 0, 0.10);
}

.MuiTabPanel-root {
  padding: 1.5rem 0 !important;
}

.MuiDialogContent-root {
  padding: 2rem 0 !important;
}

.MuiDataGrid-root {
  background: white !important;
  letter-spacing: initial !important;
  border-radius: 20px !important;
}

.MuiDataGrid-withBorder {
  border-right: none !important;
}

.MuiDataGrid-columnSeparator {
  color: white !important;
}

.MuiTypography-root {
  color: black !important;
}

.MuiFormControl-root {
  display: flex !important;
}

.MuiCollapse-root {
  overflow: hidden !important;
}

@media (min-width: 576px) {
  .MuiContainer-root {
    max-width: 540px !important;
  }
}

@media (min-width: 768px) {
  .MuiContainer-root {
    max-width: 960px !important;
  }
}

@media (min-width: 992px) {
  .MuiContainer-root {
    max-width: 1020px !important;
  }
}

@media (min-width: 1200px) {
  .MuiContainer-root {
    max-width: 1140px !important;
  }
}

/* @media (min-width: 1400px) {
  .MuiContainer-root {
    max-width: 1320px !important;
  }
} */