<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.team.neorangnarang.user.mapper.ReviewMapper">
    <!-- 리뷰 등록 -->
    <insert id="registerReview" parameterType="Review">
        INSERT INTO tb_review(writer_idx, target_idx, content, rating, writer_display)
        VALUES (#{writer_idx}, #{target_idx}, #{content}, #{rating}, #{writer_display})
    </insert>

    <select id="getReviewByWriterIdx" resultType="Review">
        SELECT *
        FROM (
                 SELECT a.*, b.nickname AS target_nickname
                 FROM tb_review AS a
                          LEFT JOIN tb_user AS b
                                    ON a.target_idx = b.user_idx
                 WHERE a.writer_idx = #{writer_idx}
             ) result
        WHERE result.state = 1
        ORDER BY result.review_idx DESC;
    </select>

    <select id="getReviewByTargetIdx" resultType="Review">
        SELECT *
        FROM (
                 SELECT a.*, b.nickname AS writer_nickname, b.profile_img AS writer_profileImg
                 FROM tb_review AS a
                          LEFT JOIN tb_user AS b
                                    ON a.writer_idx = b.user_idx
                 WHERE a.target_idx = #{target_idx}
             ) result
        WHERE result.state = 1
        ORDER BY result.review_idx DESC;
    </select>

    <select id="getRatingAvgByTargetIdx" resultType="float">
        SELECT avg(rating)
        FROM tb_review
        WHERE target_idx = #{target_idx} and state = 1
    </select>

    <update id="deleteReview" parameterType="Review">
        UPDATE tb_review
        SET state = 0
        WHERE review_idx = #{review_idx}
    </update>
</mapper>