<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.team.neorangnarang.user.mapper.UserMapper">
    <select id="selectTime" resultType="String">
        SELECT now()
    </select>

    <insert id="saveUser" parameterType="User">
        INSERT INTO tb_user(id, password, phone, nickname, role, provider)
        VALUES (#{id}, #{password}, #{phone}, #{nickname}, #{role}, #{provider})
    </insert>

    <!--<insert id="saveSocialUser" parameterType="SocialUser">
        INSERT INTO tb_user(id, nickname, profile_img, role, provider)
        VALUES (#{email}, #{name}, #{picture}, #{role}, #{provider})
    </insert>
-->
    <select id="findByUserId" resultType="User">
        SELECT * FROM tb_user WHERE id = #{id}
    </select>

    <select id="findByProvider" resultType="User">
        SELECT * FROM tb_user WHERE provider = #{provider}
    </select>
</mapper>