<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.team.neorangnarang.user.mapper.UserMapper">
    <select id="selectTime" resultType="String">
        SELECT now()
    </select>

    <insert id="saveUser" parameterType="UserDTO">
        INSERT INTO tb_user(id, password, phone, nickname)
        VALUES (#{id}, #{password}, #{phone}, #{nickname})
    </insert>

    <select id="findByUserId" resultType="UserDTO">
        SELECT * FROM tb_user WHERE id = #{id}
    </select>
</mapper>